@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto+Mono&display=swap');


.login-section{
    /* background: linear-gradient(135deg, #f2f2f2, grey); */
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);


}
.form-select{
    width: 236%;
}
.container-login{
    /* max-width: 700px; */
    
    margin-left: 5px;
    width: 97%;

    
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.15);
  }
  .container-login .title{
    font-size: 23px;
    font-weight: 500;
    position: relative;
  }
  .container-login .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-details{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 32px;
    width: 236%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    /* border-color: #9b59b6; */
    border-color: #003a55;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
     background: #003a55;
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #003a55);
    }
   @media(max-width: 584px){
   .container-login{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container-login .content .category{
      flex-direction: column;
    }
  }

/* colors
 #ED1C5B; light 
 #E20E4E; dark
*/

/* reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar start here  */
.sidebar{
  position: absolute;
  background: linear-gradient(135deg, #71b7e6, #003a55);
  /* background: #003a55; */
  width: 343px;
  height: 106vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(135deg, #71b7e6, #003a55);
    /* background: #003a55; */
    padding: 20px;
    font-weight: bold;
}


.sidebar ul li {
    margin: 25px 0;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}

/* Sidebar end Here  */

/* Main Content Section Start Here  */

.main{
  margin-left: 350px;
  padding: 10px;
  height: 50vh;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }